{% if page.comments != false %}
<div class="giscus-container">
  <script
    src="https://giscus.app/client.js"
    data-repo="shenggaowei/blog"
    data-repo-id="MDEwOlJlcG9zaXRvcnkyNzcxMTgxODI="
    data-category="General"
    data-category-id="DIC_kwDOEIR85s4CQ6iv"
    data-mapping="title"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="light"
    data-lang="zh-CN"
    data-loading="lazy"
    crossorigin="anonymous"
    async
  ></script>
</div>
{% endif %}
