@font-face{
    font-family: "JetBrains Mono";
    src: url("https://shenggao.oss-cn-beijing.aliyuncs.com/JetBrainsMono-2.225/fonts/webfonts/JetBrainsMono-BoldItalic.woff2") format ("woff2"),
}

*,html,body {
}